
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="styles.css">
	<meta charset="UTF-8">
	<!-- <link rel="stylesheet" type="text/css" href="normalize/normalize.css"> -->
	<meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Dosis|Raleway" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<title>Fortune Cookie Database</title>
</head>
<body>
	<aside class="left-aside flex">
		
	</aside>
	<main ng-app="fortuneApp" class="flex">
		<section class="flex top-section" id="top-section">
			<h1 class="fortune-heading">Fortune Cookie Database</h1>
			<nav class="flex">
				<ul class="flex">
					<li class="flex li-about-button nav-li" id="li-about-id">About</li>
					<li class="flex li-contact-button nav-li" id="li-contact-id">Contact</li>
					<li class="flex nav-search-dropdown nav-li" id="li-search-id">
						<label for="searchOptions">Search Database</label>
						<select name="searchOptions" id="search-options-id">
							<option value="">
							<option value="ID">Search by ID
							<option value="user">Search by User name
							<option value="fortune">Search by Fortune
							<option value="date">Search by Date Submitted
							<option value="fav">Search by Amount of Times liked	
						</select>
					</li>
				</ul>
			</nav>
			<!-- hidden -->
			<p class="about-paragraph" id="about-paragraph-id">
				I created this database to store all the fortune cookie messages that i've been saving over the years. I like using them 
				for lyrical inspiration once and awhile. I also thought it'd be cool to see how many times a fortune is duplicated. 
				Check out some<span class="features-span-btn"> Upcoming Features</span>
			</p>
			<!-- hidden -->
			<ul class="about-future-features-ul" id="about-future-features-ul-id">
				<li>Ways to sort database</li>
				<li>Ability for users to 'like' specific fortunes</li>
				<li>Ability for users to recieve daily fortunes via email</li>
			</ul>
			<article class="contact-form-container" id="contact-form-container-id">
				<h3 class="flex contact-heading">Submit Feedback/Questions/Comments Here</h3>
					<form method="POST" action="" class="flex contact-form" id="form-contact-id">
						<input type="text" class="contact-form-name" placeholder="type your name here" required>
						<input type="email" class="contact-form-email" placeholder="type your email here" required>
						<input type="text" class="contact-form-topic" placeholder="what is this message about?" required>
						<button type="submit" name="contact-enter" class="contact-form-btn" id="contact-form-btn-id">Submit message</button>
						<textarea class="contact-form-message" cols="30" rows="10" placeholder="type your message here" required></textarea>
					</form>
				<h4 class="feedback-response">{{contactResponseTxt}}</h4>
			</article>
			</section>
		<div  class="submit-fortune-container flex">
			<form action="" name="fortune-form" method="POST" id="form-submit-id" class="flex form-submit" autocomplete="on">
				<input type="text" name="user" id="user-name-id" class="user-name" placeholder="type your name here" required>
				<input ng-model="imgTextModel" type="text" name="fortuneText" id="fortune-input" class="fortune-input" placeholder="Type your fortune here" required>
				<button class="enter-button" id="enter-button" type="submit" name="enter" >Submit Fortune</button>
			</form>
			<section class="middle-section flex" data-id="${id}">
				<img src="images/emptyFortune-image.jpg" alt="image of fortune from inside a fortune cookie" class="fortune-image flex" id="fortune-image-id">
				<h2 ng-bind="imgTextModel" class="img-text flex" id="img-text-id"></h2>
				<!-- <p id="form-submit-response-id">

				</p> -->
			</section>
		</div>
		<div ng-controller="fortuneTableCtrl" class="table-div">
			<table class="flex" name="fortuneTable" id="fortune-table">
				<tr class="flex">
					<th class="thID idWidth">ID</th>
					<th class="thUser userWidth">User</th>
					<th class="thFortune fortuneWidth">Fortune Text</th>
					<th class="thDate dateWidth">Date Submitted</th>
					<!-- <th class="thFav favWidth"><img src="images/filledCheck.png" alt=""></th> -->
				</tr>
				<tr ng-repeat="x in allFortunes" class="flex">
					<td class="idWidth">{{x.ID}}</td>
					<td class="userWidth">{{x.user}}</td>
					<td class="fortuneWidth">{{x.fortuneText}}</td>
					<td class="dateWidth">{{x.dateSubmitted}}</td>
					<!-- <td class="favWidth">{{x.favoriteAmount}}</td> -->
				</tr>	
			</table>
		</div>
			<!-- <ol id="ol-list-append" class="ol-list-append flex" data-id="${id}">
			</ol> -->
	</main>
	<aside class="right-aside flex">

	</aside>
	<footer class="flex">
		<p class="footer-text flex">copyright 2020, Created by Ebenezer Jay Ingalsbe</p>
	</footer>
</body>
<script src="jquery-copy.js"></script>
<script src="main.js"></script>
<script src="fortune.js"></script>
</html>