body {
	background-color: #413D49;
	display: grid;
	font-family: 'Dosis', sans-serif;
	grid-template-columns: 15% 70% 15%;
	grid-template-areas: 
	"left-sidebar header right-sidebar"
	"left-sidebar main right-sidebar"
	"left-sidebar main right-sidebar"
	"footer footer footer";
	height: 100vh;
}

header {
	align-items: center;
	grid-area: header;
	justify-content: center;
}

main {
	align-items: center;
	background-color: #F3F0F9;
	grid-area: main;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	margin: 0px;
	height: 38px;
}

h3 {
	color: #E76200;
	margin: 5px;
	/* width: 51%; */
}

h3:hover {
	color: red;
	cursor: pointer;
}

ol {
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
	width: 100%;
}

section {
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.left-aside {
	grid-area: left-sidebar;
}

.right-aside {
	grid-area: right-sidebar;
}

footer {
	grid-area: footer;
	justify-content: center;
}

.flex {
	display: flex;
}

form {
	flex-wrap: wrap;
	justify-content: center;
	height: 10%;
	width: 100%;
}

/* .email-form {
	
} */

.enter-button {
	padding: 5px;
	width: 15%;
}

.delete-button {
	border-radius: 50%;
	width: fit-content;
}

.delete-button:hover {
	background-color: #E76200;
	cursor: pointer;
}

input {
	height: 25px;
	width: 40%;
}

label {
	align-self: center;
	padding-right: 10px;
}

.top-form {
	justify-content: center;
	width: 100%;
}

.fortune-input {
	/* padding: 5px; */
	width: 50%;
}

.user-name {
	/* padding: 5px; */
	width: 15%;
}

.bottom-form {
	justify-content: center;
	width: 100%;
}

/* img {
	margin: 10px 0px;
	width: 50%;
} */

.checkmark-image {
	margin: 0px;
	width: fit-content;
	height: 34%;
}

.checkmark-image:hover {
	cursor: pointer;
}

.list-buttons {
	margin: 5px;
	justify-content: space-between;
}

.middle-section {
	flex-wrap: wrap;
	/* justify-content: center; */
	width: 100%;
}

.fortune-image {
	height: 73%;
	margin: 4% 0px 4% 2%;
	width: 95%;
}

.img-text {
	color: #1a47c3;
	font-size: 20px;
	position: relative;
	bottom: 44%;
	margin: auto;
	/* width: 50%; */
}

.article-appended-fortune {
	background-color: #FCF9F6;
	border: 1px solid black;
	justify-content: center;
	margin: 5px 14%;
	width: fit-content;
}

.search-input {
	height: 50%;
	text-align: center;
	width: 50%;
}

.fa-search {
	position: relative;
	right: 3%;
}

.fa-search:hover {
	cursor: pointer;
}

.footer-text {
	color: ghostwhite;
}

@media only screen and (max-width: 550px) {
	.fortune-heading {
		font-size: 18px;
		width: 75%;
	}

	.search-input {
		width: 100%;
	}

	.fa-search {
		position: relative;
    right: 10%;
	}

	.img-text {
		height: 100%;
    margin: 0% 0px 4% 11%;
    width: 100%;
		font-size: 11px;
	}
}