body {
	background-color: #413D49;
	display: grid;
	grid-template-columns: 10% 80% 10%;
	grid-template-areas: 
	"left-sidebar header right-sidebar"
	"left-sidebar main right-sidebar"
	"left-sidebar main right-sidebar"
	"footer footer footer";
	height: 100vh;
}

header {
	grid-area: header;
}

main {
	align-items: center;
	background-color: #F3F0F9;
	grid-area: main;
}

h1 {
	margin: 0px;
	height: 38px;
	width: 35%;}

section {
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.left-aside {
	grid-area: left-sidebar;
}

.right-aside {
	grid-area: right-sidebar;
}

footer {
	grid-area: footer;
}

.flex {
	display: flex;
}

form {
	justify-content: center;
	height: 10%;
	width: 100%;
}

button {
	width: 15%;
}

input {
	width: 40%;
}

label {
	align-self: center;
	padding-right: 10px;
}